
%p#notice= notice
%h1
  Lists  #{@user.name}
.content.is-centerd{}
  - @lists.each do |list|
    %table.table
      %thead
        %tr
          %td= list.title
          %td
          %td
          %td
          %td
          %td
          %tbody
          - list.tasks.each do |task|
            %tr
              %td= task.title
              %td= task.description
              %td= link_to 'Show', task
              %td= link_to 'Edit', edit_task_path(list)
              %td= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Task', new_task_path
= link_to 'New List', new_list_path
