.content.is-widescreen.has-text-centered
  .section.hero
    .hero-body
      %h1.title
        When nothing goes right...
      %h2.subtitle
        go left
.content
  %table.table
    - @lists.each do |list|   
      %thead
        %tr
          %th= list.title
          %th 
          %th 
          %th Due date
          %th.buttons
            = link_to '', edit_list_path(list), class: "fa fa-edit button is-primary is-inverted"
            = delete_to_with_icon "", list, method: :delete, data: { confirm: "Are you sure?" }, class:  "fa fa-times button is-danger is-inverted"            
        - list.tasks.each do |task|
          %tbody 
            %tr
              %td
              %td= task.title
              %td= task.description
              %td= task.due_date
              %td
                = link_to 'Show', task
                = link_to '', edit_task_path(task), class: "fa fa-edit button is-primary is-inverted"
                = link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?', class: "modal is-warning"}                 
  %br
.container.is-mobile
  %a.button.is-primary.is-outlined.is-full.width{:href => "/lists/new", :style => "width:100%; "} New list...
%footer.footer
  %a.float{:href => "/tasks/new"}
    %span.fa.fa-plus
