%section.hero.is-fullheight
  .hero-body
    .container.has-text-centered
      .column.is-4.is-offset-4
        %h3.title.has-text-grey Log in
        %p.subtitle.has-text-grey Please login to proceed.
        %div.box
          %figure.avatar
            %img{src: "https://placehold.it/128x128"}
          %form
            = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              .field
                .control
                  = f.label :email, class: "label"
                  = f.email_field :email, autofocus: true, autocomplete: "email", class: "input"
              .field
                .control
                  = f.label :password, class: "label"
                  = f.password_field :password, autocomplete: "current-password", class: "input"
              /
                <haml_silent>   if devise_mapping.rememberable?
                </haml_silent><haml_block>    <div class="field">
                <haml_loud> f.check_box :remember_me </haml_loud>
                <haml_loud> f.label :remember_me </haml_loud>
                </div>
                </haml_block>
              .actions
                = f.submit "Log in", class: "button is-link is-fullwidth"
          = render "devise/shared/links"
